header {
  padding: 0; }

main {
  background-color: aquamarine;
  padding: 0; }

footer {
  background-color: #00d9ff;
  padding: 0; }

.bg-mibackground {
  background-color: #A63C45; }

.navbar {
  padding: 0; }

.about__parrafo {
  margin: 0; }

.logo {
  width: 60 px;
  height: 100px; }

h1 {
  font-family: 'Niconne', cursive;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  padding: 20px; }

.navbar-nav {
  font-family: 'IM Fell French Canon', serif; 
}

/*background: #A63C45 ,#32598C,#9CA6A5,#733924,#0D0D0D*/
