* {
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2? family= Joan & family= Raleway:ital,wght@0,200;0,300;0,400;0,700;1,200 & display=swap');

body {
    font-family: 'Raleway', sans-serif;
    
}

/*ackground: #A63C45 ,#32598C,#9CA6A5,#733924,#0D0D0D*/

.navbar{
  
background-color:#32598C;

}




.subtitulo{
    text-align: center;
    color: #cb3737 ;
    margin: 30px;

}







.nav--footer {
    font-weight: 300;
    justify-content: flex-start;

}



.nav__items--cta {
    border: 3px solid rgb(201, 130, 15);

}

.nav__items--footer {
    padding: 10px;

}







.pagina__cta {
    padding: 10px 15px;
    color: #c5303dfc;
    border-radius: 40px;
    border-bottom:solid #b26018;
    text-decoration: none;
    margin: 80px;
padding: 10px;

}








.about_contenido {

    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: start;
    align-items: stretch;
    margin: 30px;
    justify-content: center;
    align-content: stretch;
}

.about__img {
    text-align: center;

}
.about__text{
margin:0;
padding: 0;

}

.about__img--left {
    text-align: left;
}

.about__pictur {
    max-width: 80%;

}

.about__parrafo {
    margin-bottom: 20px;
    line-height:normal;
    font-weight: 300;


}


.proyectos {

    background: #A66B38;
    border:solid black;
 position: relative;
 width: 100%;
 height: 100%;
overflow:hidden;
}
.footer{
background: #6b65a2;

}
.footer__grid{

display: grid;
grid-template-columns: 3fr 2fr;
gap: 20px;
align-items: center;


}
.footer__titulo{
    font-weight: 400;
   
    color: #c5303dfc;
    border-radius: 40px;
    border-bottom:solid #b26018;
    text-decoration: none;
    margin: 35px;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
.footer__icons{
display: flexbox;
justify-content: space-evenly;
color: inherit;
font-size: 30px;
text-decoration: none;
line-height: 60px;
}
.footer__contenido-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: aliceblue;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;

}
.fab.footer__icons{
    line-height: 60px;
}

/*pag galeriaÇ*/
.gal_img{
    width: 250px;

    margin-bottom: 10px;
    border: solid black;
}
.gal__parrafo
* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
/*pag quienessomos  Utilizar class de index.html*/

/*pag contactame  Utilizar class de index.html*/

/*pag ubicacion  Utilizar class de index.html*/
.mapa{
    margin: 10px;
 
}







/*trabajando en grid y animacion
.proyectos_grid {
display: grid;
height: 500px;
grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5";
gap: 10px;
}
.proyectos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  
}
.proyectos_item:nth-last-of-type(1) {
    grid-area: img1;
}
.proyectos_item:nth-last-of-type(2) {
    grid-area: img2;
}
.proyectos_item:nth-last-of-type(3) {
    grid-area: img3;
}
.proyectos_item:nth-last-of-type(4) {
    grid-area: img4;
}
.proyectos_item:nth-last-of-type(5) {
    grid-area: img5;
}
.proyectos_hover{
background: #6b65a2;
width: 100%;
height:100%;
text-align: center;
display: flex;
justify-content: center;
transform: translateX(100%);
cursor: pointer;
transition: transform 3s ease-in-out;
border:solid black;
align-items: flex-start;
flex-flow: row wrap;
align-content: space-around;
}
.proyectos__icon{
margin-top: 10px;
font-size: 30px;
}
.proyectos_item:hover .proyectos_hover{
    transform:  translateX(0%);
}
/*responsive design*/








/* vista movil
@media screen and(max-width: 800px) {
    :root{
     --boton-pading: 18px 40px;
    }
    .nav{
        justify-content: space-around;
        
    }
.nav__items{
    font-weight: 400;
    border-bottom: 1px solid white;
    margin-right: 0;
}
.nav__items--cta{
    border: none;
}
.nav--footer{
    border:none;
}
.pagina__texts{
width: 100%;
margin-bottom: 80px;
text-align: center;
}
.pagina__titulo{
    font-size: 2.5rem;
}
.pagina__subtitulo{
    font-size: 2rem;
margin-bottom: 20px;
}
.presentacion__logo{
    width: 120px;
    height: 120px;
}
.pagina_contenedor{
    width: 100%;
    padding-top: 10%;
}
.about_contenido{
grid-template-columns: 1fr;
row-gap: 60px;
}
.about__text{
    padding-top: 10px;
    
}
.proyectos_grid{
grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        
}
.about__img--left{
    text-align:  center;
}
.about__text:last-child{
    grid-row: 3/4;
}
.footer__grid{
    grid-template-columns: 1fr;
}
.footer__contactos{
    grid-row:inherit;
}
}*/