header {
  padding: 0; }

footer {
  background-color: #1C71A6;
  padding: 0; }

.bg-mibackground {
  background-color: #1C71A6; }

.navbar {
  padding: 0; }

.about__parrafo {
  margin: 0; }

.logo {
  width: 60 px;
  height: 100px;
  margin: 20px; }

h1 {
  font-family: "Niconne", cursive;
  font-size: 58px;
  color: #BF861B;
  text-shadow: 5px 5px 5px #aaa;
  padding: 10px; }

.navbar-nav {
  font-family: 'IM Fell French Canon', serif;
  font-size: 20px; }

/*background: moztaza #BF861B,  azul #1C71A6 ,sombra #aaa ,  */
.footer__icons {
  color: white; }
