
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




/*background: moztaza #BF861B,  azul #1C71A6 ,sombra #aaa ,  */
@import "./utilitis/variables";
@import "./utilitis/mixins";
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Roboto+Condensed:wght@700&display=swap');

@import "./layout/header";
@import "./layout/footer";
@import "./layout/mainContactame";
@import "./layout/mainGaleria";
@import "./layout/mainIndex";
@import "./layout/mainQuienessomos";
@import "./layout/mainUbicacion";
