footer {
    background-color: $fondo_principal;
    padding: 0;
    @include flex-center;
    flex-direction: row;
    @include tablet {
        flex-direction: column;
    }
    .footer__icons {
        color: white;
        .footer__contenido-icons {
            font-size: 50px;
            padding: 5px;
        }
    }
}