main {
 
  margin: 5px;
  padding: 20px;
  text-align: start;
  line-height: normal;
  line-height: $interlinedo;

  li {
    list-style: none;
    padding: 0px;

  }


  .subtitulo {
    color: $color_subtitulo;
    font-family: $fuente_nav;
    margin: 20px;
    padding: 10px;
    text-align: start;
    font-size: $subtitulo_altura;
  }

  h1 {
    font-family: $fuente_titulo ;
    font-size: $titulo_altura;
    color: $color_titulo;
    padding: 10px;
  }

  .pagina__subtitulo {
    font-family: $fuente_nav;
    font-size: 20px;
    color: #89ade6;
  }

  .presentacion_logo {
    margin: 10px;
    padding: 10px;
  }

  .presentacion_contenido {
    margin: 0px;
    padding: 0px;
    text-align: start;
  }
}

.about_contenido {
  overflow: $overflow;
  @include flex-center;
  flex-direction: row;

  @include tablet {
    flex-direction: column;

    margin: 0px;
    padding: 0px;
    text-align: start;
    overflow: hidden;

    h2 {
      margin: 0px;
    }


    .about__imagen {
      margin-top: 40px;
    }


    .about__text {
      line-height: $interlinedo;
      font-family: $fuente_titulo ;
      font-size: $titulo_altura;
      color: $color_titulo;
      padding: 10px;
    }

  }
}