main {
    h1 {
        font-family: $fuente_titulo;
    }
    .footer__icons {
        width: 200px;
        height: 100px;
    }
    .ubi {
        font-family: $fuente_nav;
    }
    .img_ubi {
        height: 0px;
        width: 100px;
    }
}