$fondo_principal: rgba(137,173,230,1);
$color_subtitulo:rgb(67, 116, 196);
$color_letra: lightcoral;
$color_titulo:rgb(22, 68, 143);
$fuente_titulo: 'Niconne', cursive;
$fuente_nav: 'Roboto Condensed', sans-serif;
$fuente_texto: 'Frank Ruhl Libre', serif;
$box-shadow: 0 .5rem 1rem rgba(black, .15);
$overflow: (overflow,visible);
$tablet: 768px;
$desktop: 992px;
$color_clik:rgb(110, 139, 185);
$interlinedo: 22px;
$subtitulo_altura: 1.75rem;
$titulo_altura:58px;
  
